html {
	height: 100%;
}

body {
	line-height: 135%;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	background: black;
	color: white;
}

a {
	text-decoration: underline;
	color: #FFD801;
}

a:hover {
	text-decoration: none;
}


/* --------------- Header --------------- */

header {
	border-bottom: 3px solid #FFD801;
	background-color: black;
	color: white;
}

header .logo {
	padding: 10px 10px;
	height: 27px;
}

header .logo-link {
	float: left;
}

header nav {
	float: right;
	height: inherit;
}

header nav ul {
	height: inherit;
}

header nav li {
	display: inline-block;
	width: 100px;
	text-align: center;
	background-color: black;
}

header nav a {
	display: block;
	color: #FFD801;
	font-size: 13px;
	height: 18px;
	padding: 17px 0px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

header nav a:hover {
	background-color: white;
	color: black;
}

/* --------------- Template --------------- */

h1, h2, h3, h4 {
	font-weight: bold;
}

section {
	margin-top: 1em;
}

h1 {
	margin-top: 1.5em;
	font-size: 4em;
	line-height: 1.3;
}

h2 {
	margin-top: 1.5em;
	font-size: 3em;
	line-height: 1.3;
}

h3 {
	margin-top: 1.2em;
	font-size: 2em;
	line-height: 1.2;
}

h4 {
	margin-top: 1em;
	font-size: 1.5em;
	line-height: 1.2;
}

p {
	font-size: 1em;
}

dt {
	display:inline-block;
	font-weight: bold;
}

p, .content table, dt {
	margin-top: 0.6em;
}

dd {
	display: block;
}

/* --------------- Image grid --------------- */

.img-grid {
	margin-top: 1em;
}

.img-grid .sponsor-icon {
	display: inline-block;
	float:left;
	width: 200px;
	height: 200px;
	border: 5px solid #ccc;
	background-size: 175px auto;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	margin: 10px 25px 0px 0px;
}

/* --------------- Main layout blocks --------------- */

.container {
	display: block;
	width: 75%;
	margin: auto;
	z-index:1;
}

.content {
	display: block;
	width: 75%;
	margin: auto;
	z-index:0;
	padding-bottom: 1.5em;
}

.main-footer {
	display: block;
	margin: auto;
	width: 75%;
	margin-top: -1px;
	padding-top: 20px;
	z-index:0;
	padding-bottom: 40px;
	border-top: 1px solid #ccc;
}

/* --------------- Footer --------------- */

.credit {
	display: block;
	color: white;
	font-size: 10px;
	padding-top: 10px;
}

.social {
	float: right;
}

.address {
	display: inline-block;
	width: 300px;
}

/* --------------- Two column layout --------------- */

.clear {
	clear:both;
}

.content-bottom h3:first-child {
	margin-top: 0em;
}

.content-top h1, .content-top h2 {
	margin-top: 0em;
}

.coontent-top {
	margin-top: 1.5em;
}

.content-bottom {
	margin-top: 1.5em;
}

.column-left {
	margin-right: 50%;
	overflow:auto;
}

.column-right {
	float:right;
	width: 50%;
	padding-left: 2.5em;
}

@media (max-width: 40em) {

	.column-left {
		margin-right:0 !important;
	}

	.column-right {
		float:none  !important;
		width: 100%  !important;
		margin-bottom: 1.5em  !important;
		padding-left:0  !important;
	}

}

/* --------------- Image slider --------------- */

.imgslider {
	position: relative; 
	overflow: auto;
	width: 100% !important;
}
	
.imgslider .slide { 
	list-style: none;
	float: left;
}

.imgslider .slide h3 { 
	magin-top:0px;
}

.imgslider .slide-image {
	margin-top: 0.5em;
	overflow:hidden;
	background-position: center center;
	background-size:100%;
	background-repeat: no-repeat;
}

.imgslider .slide-description {
	margin-top: 1em;
	min-height: 15em;
	padding-right: 1.5em;
}